body, h1, h2, p {
    margin: 0;
    padding: 10;
    background-color: PaleVioletRed;
}


header {
  background-color: blue;
    color: black;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid Plum; /* Cor da borda no cabeçalho */
   
   
}

.restaurante {
   border: 2px dashed LightCoral;
        margin-bottom: 30px;
        padding: 10px;
        background-color: Violet;
    padding: 10px;
        background-color: Turquoise;
   
 
}
.container {
            max-width: 960px;
            margin: 30px auto;
            padding: 40px;
            background-color: Plum;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
   
   
padding: 20px;
   
   
background-color:LightSeaGreen ;

}


.restaurante h2 {
   color: #87CEEB;
    border: 2px dashed LightSeaGreen; /* Adiciona uma borda tracejada de 2px com cor #ddd */
        margin-bottom: 20px;
        padding: 30px;
        background-color: #fff;
   
}



main {
    display: flex;
   
   
flex-wrap: wrap;
    justify-content: space-around;
}
